<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
    {% include "./partials/fonts.html" %}
    
  </head>
  <body class="bg-white">
    {% include "./partials/navbar.html" %}

    {{ content | safe }}

    {% include "./partials/footer.html" %}

    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/infinite-scroll@5/dist/infinite-scroll.pkgd.min.js"></script>
    <script src="/static/js/isotope.pkgd.min.js"></script>
    <script src="/static/js/alpine.js"></script>

    <script>
      var iso = null;

      document.addEventListener('DOMContentLoaded', function () {
        var grid = document.querySelector('#home-grid');

        if (grid) {
          var initialImages = Array.prototype.slice.call(
            grid.querySelectorAll('.iso-item img')
          );

          initialImages.forEach(function (img, index) {
            if (index < 4) {
              img.setAttribute('loading', 'eager');
              if (index === 0) {
                img.setAttribute('fetchpriority', 'high');
              } else {
                img.removeAttribute('fetchpriority');
              }
            } else {
              img.setAttribute('loading', 'lazy');
              img.setAttribute('decoding', 'async');
              img.removeAttribute('fetchpriority');
            }
          });

          var initIsotope = function () {
            iso = new Isotope(grid, {
              itemSelector: '.iso-item',
              percentPosition: true,
              masonry: {
                // use outer width of grid-sizer for columnWidth
                columnWidth: '.iso-sizer'
              }
            });
            iso.layout();
          };

          // only gate initial startup on initial in-DOM images
          if (typeof imagesLoaded === 'function') {
            imagesLoaded(grid, { background: false }, function () {
              initIsotope();
            });
          } else {
            initIsotope();
          }

          if (typeof InfiniteScroll === 'function') {
            var infScroll = new InfiniteScroll(grid, {
              path() {
                const url = new URL(window.location.href);
                url.searchParams.set('__dup', String(this.loadCount + 1)); // cache-bust
                return url.toString();
              },
              append: '.iso-item',
              history: false,
              checkLastPage: false,
            });

            infScroll.on('append', function (body, path, items) {
              var applyAppendedLayout = function () {
                if (!iso) {
                  return;
                }
                iso.appended(items);
                iso.layout();
              };

              if (typeof imagesLoaded === 'function') {
                imagesLoaded(items, function () {
                  applyAppendedLayout();
                });
                return;
              }

              applyAppendedLayout();
            });
          }
        }
      });
    </script>


    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>
