<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
    {% include "./partials/fonts.html" %}
    
  </head>
  <body class="bg-white">
    {% include "./partials/navbar.html" %}

    {{ content | safe }}

    {% include "./partials/footer.html" %}

    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/infinite-scroll@5/dist/infinite-scroll.pkgd.min.js"></script>
    <script src="/static/js/isotope.pkgd.min.js"></script>
    <script src="/static/js/alpine.js"></script>

    <script>
      var iso;

      document.addEventListener('DOMContentLoaded', function () {
        var elem = document.querySelector('#home-grid');
        if (!elem) {
          return;
        }

        iso = new Isotope(elem, {
          itemSelector: '.iso-item',
          percentPosition: true,
          masonry: {
            // use outer width of grid-sizer for columnWidth
            columnWidth: '.iso-sizer'
          }
        });

        if (typeof imagesLoaded === 'function') {
          // wait for images so initial layout matches final sizes
          imagesLoaded(elem, function () {
            iso.layout();
          });
        }
      });
    </script>

    <script>
      const grid = document.querySelector('#home-grid');

      const infScroll = new InfiniteScroll( grid, {
        path() {
          const url = new URL(window.location.href);
          url.searchParams.set('__dup', String(this.loadCount + 1)); // cache-bust
          return url.toString();
        },
        append: '.iso-item',
        history: false,
        checkLastPage: false,
      });

      // if you're using Isotope, re-layout after append
      infScroll.on('append', function( body, path, items ) {
        iso.appended(items);
        iso.layout();
      });

      // Tooltip 
      tippy(
        '[data-tippy-content]', {
          followCursor: true
        });
    </script>


    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>
