backend:
  # Use netlify identity as backend
  name: git-gateway
  branch: master
  ### enable below lines for github integration ###
  # name: github
  # repo: surjithctly/neat-starter
media_folder: "src/static/img"
public_folder: "/static/img"

# Please run "npx netlify-cms-proxy-server" for local backend
local_backend: true
# publish_mode: editorial_workflow
collections:
  - label: "Blog"
    name: "blog"
    folder: "src/posts"
    create: true
    editor:
      preview: false
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "string" }
      - { label: "Author", name: "author", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
      - widget: select
        label: "tags"
        name: "tags"
        multiple: true
        create: true
        options: ["Tags", "created", "from", "config.yml"]
  - label: "Settings"
    name: "settings"
    editor:
      preview: false
    files:
      - label: "Navigation"
        name: "items"
        file: "src/_data/navigation.yaml"
        fields:
          - label: Nav Items
            name: items
            widget: list
            allow_add: false
            collapsed: false
            fields:
              - { label: Title, name: text, widget: string }
              - { label: URL, name: url, widget: string }
      - label: "Homepage Images"
        name: "links"
        file: "src/_data/quicklinks.yaml"
        fields:
          - label: Home image
            name: links
            widget: list
            collapsed: false
            fields:
              - { label: Title, name: title, widget: string, required: false }
              - { label: URL, name: url, widget: string, required: false }
              - { label: Description, name: desc, widget: string, required: false }
              - { label: Image, name: image, widget: image }
              - { label: Grid Size, name: gridSize, widget: "select", options: ["w-1/12","w-2/12","w-3/12","w-4/12","w-5/12","w-6/12","w-7/12","w-full"]}
              - { label: Mobile Grid Size, name: gridSizeMob, widget: "select", options: ["w-1/2","w-full"]}
      - label: "Global Settings"
        name: "settings"
        file: "src/_data/settings.yaml"
        fields:
          - { label: Name, name: name, widget: string }
          - { label: Author, name: author, widget: string }
          - { label: URL, name: url, widget: string }
          - { label: Logo, name: logo, widget: image }
          - { label: Body Font, name: body_font, widget: file }
      - label: "Custom Fonts"
        name: "Font settings"
        file: "src/_data/fonts.yaml"
        fields:
          - { label: Body Font Name, name: bodyFontName, widget: string, required: false }
          - { label: Body Font woff, name: body_font_woff, widget: file, required: false }        
          - { label: Body Font woff2, name: body_font_woff2, widget: file, required: false }          
          
