{% set mob_half = "w-1/12 w-2/12 w-3/12" %}

<div id="home-grid" class="w-full">

    <div class="iso-sizer w-1/12"></div>

    {% if quicklinks.links %}

        {% for item in quicklinks.links %}
            {% if item.gridSize == '' %}
                {% set gridSize = 'w-1/2' %}
            {% else %}
                {% set gridSize = item.gridSize %}
            {% endif %}
            {% if item.gridSizeMob %}
                {% set gridSizeMob = item.gridSizeMob %}
            {% elif gridSize in mob_half %}
                {% set gridSizeMob = 'w-1/2' %}
            {% else %} 
                {% set gridSizeMob = 'w-full' %}
            {% endif %}

            <div class="iso-item {{ gridSizeMob}} md:{{ gridSize }} float-left">
                <img class="h-auto w-full max-w-full" src="{{item.image}}" alt="{{item.desc}}">    
                <p class="text-sm md:text-base p-1 pb-4 leading-none md:leading-none">{{item.desc}}</p>
            </div>
            

        {% endfor %}

    {% endif %}

</div>
