<div id="home-grid" class="w-full">

    <div class="iso-sizer w-1/12"></div>

    {% if quicklinks.links %}

        {% for item in quicklinks.links %}
            {% if item.gridSize == '' %}
                {% set gridSize = 'w-1/2' %}
            {% else %}
                {% set gridSize = item.gridSize %}
            {% endif %}

            <div class="iso-item {{ gridSize }} float-left">
                <img class="h-auto w-full max-w-full" src="{{item.image}}" alt="{{item.desc}}">    
                <p class="p-1 pb-4 leading-none">{{item.desc}}</p>
            </div>
            

        {% endfor %}

    {% endif %}

</div>