<div class="w-full"  data-isotope='{ "itemSelector": ".iso-item", "layoutMode": "masonry" }'>

    {% if quicklinks.links %}

        {% for item in quicklinks.links %}
            <!-- <a href="{{item.url}}" target="_blank" class="p-5 border rounded border-gray-200 hover:border-purple-400">
                <h3>{{item.title}}
                    →</h3>
                <p>{{item.desc}}</p>
            </a> -->

            <div class="iso-item w-1/2">
                <img class="h-auto max-w-full " src="{{item.image}}" alt="image description">    
                <p class="text-xs">{{item.desc}}</p>
            </div>
            

        {% endfor %}

    {% endif %}

</div>