<div class="{{ 'fixed' if path == 'home' }} w-full z-10 bg-black mix-blend-difference text-white">
    <nav class="flex items-center justify-between p-6 lg:px-0 container mx-auto">
        <a href="/" class="flex items-center text-indigo-500 font-bold text-lg">
            {% if settings.logo != blank %}
                <img src="{{settings.logo}}" alt="Monier" width="100">
            {% else %}
                Logo
            {% endif %}
        </a>

        {% if navigation.items and navigation.items[0] %}
            {% set primary_link = navigation.items[0] %}
            <a class="text-ml no-underline hover:text-indigo-500" href="{{ primary_link.url }}">
                {{ primary_link.text }}
            </a>
        {% endif %}
    </nav>
</div>
